<!DOCTYPE html>
<html lang="en">
<body>
    <br>
    <div class="container">
        <div class="row">
          <div class="col logo">
            <p>PLAYER 1</p>
          </div>
          <div class="col-6">
          </div>
          <div class="col">
            <p>COMP</p>
          </div>
        </div>
        <br>
    <div class="container">
        <div class="row">
          <div class="col logo">
            <input type="image" src="/public/assets/batu.png" alt="batu" class="iconsize p-batu" >
          </div>
          <div class="col-6">
          </div>
          <div class="col">
            <input type="image" src="/public/assets/batu.png" alt="batu"  class="iconsize comp">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col logo">
            <input type="image" src="/public/assets/kertas.png" alt="kertas"  class="iconsize p-kertas">
          </div>
<!-- MID STATUS -->
          <div class="col-6">
            <p class="status">VS</p>
          </div>
<!-- MID STATUS -->
          <div class="col">
            <input type="image" src="/public/assets/kertas.png" alt="kertas"  class="iconsize comp">
          </div>
        </div>
        <br>
        <div class="row">
            <div class="col logo">
              <input type="image" src="/public/assets/gunting.png" alt="gunting"  class="iconsize p-gunting">
            </div>
            <div class="col-6">
            </div>
            <div class="col">
              <input type="image" src="/public/assets/gunting.png" alt="gunting"  class="iconsize comp">
            </div>
          </div>
      </div>
      <div class="row">
        <div class="col refresh-btn">
          <input type="image" src="/public/assets/refresh.png" alt="" width="50px" height="50px" class="reload">
        </div>
      </div>
      <script type="" src="../public/game.js"></script>
</body>
</html>